* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Header Styles */
.header {
    background-color: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
}

/* Banner Styles */

.banner {
    display: flex;
}

.banner-content {
    color: #272727;
    line-height: normal;
    padding: 130px 350px 80px 180px;
}

.banner-pic {
    width: 350px;
    height: 450px;
    padding: 135px 150px 0px 0px;
}

.banner-title {
    font-size: 30px;
    font-weight: 800;
}

.banner-desc {
    padding: 20px 0px 0px 0px;
}

.btn {
    border: 2px solid transparent;
    background-color: #E55473;
    padding: 17px 30px;
    margin-top: 30px;
    border-radius: 5px;
    color: white;
}

/* Featured Styles */

.f-title {
    color: #272727;
    text-align: center;
    font-size: 26px;
    font-weight: 800;
}

.f-desc {
    color: rgba(39, 39, 39, 0.6);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.featured {
    margin-top: 150px;
    text-align: center;
}

.f-image {
    display: flex;
}

.f-image img {
    width: 250px;
    margin: 70px 70px 10px 110px;
    padding: 50px 10px 0px 10px;
    border-radius: 200px 200px 0px 0px;
    background-color: #E55473;
}

.f-image .f-head {
    text-align: center;
    margin-left: 10px;
    text-decoration: underline;
}

/* Optional Styles */

.optional {
    margin-top: 80px;
    margin-left: 150px;
    text-align: center;
    width: 1040px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.icons {
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.icons img {
    width: 70px;
    margin: 30px 40px 0px 110px;
    padding: 50px 50px 0px 50px;
}

.icon-title {
    text-align: center;
    margin-left: 70px;
    margin-bottom: 50px;
}

/* Hot Deals Styles */

.hot-deal {
    margin: 60px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-deal-content {
    display: flex;
}

.hot-deal-content .hot-deal-title {
    margin: 180px 200px 0px 100px;
    text-align: center;
}

.flower-bucket {
    width: 200px;
    margin-right: 180px;
    margin-top: 100px;
}

.hot-head {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.off {
    color: #E55473;
}

/* Instagram Styles */

.instagram {
    margin-top: 100px;
    text-align: center;
}

.i-image {
    display: flex;
    width: 70px;
    margin: 30px 40px 0px 110px;
    padding: 50px 50px 0px 50px;
}

.i-image img {
    width: 210px;
    padding-right: 60px;
}

/* Subscribe Style */
.subscription input{
    padding: 15px 80px;
    border-radius: 8px;
    border: 0;
    color: rgba(39, 39, 39, 0.60);
}
.subscription{
    background-image: url(./images/subscribe.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: 80%;
    border-radius: 8px;
    margin: auto;
      
}
.sub-content{
   text-align: center;
   padding: 80px 0;

}
.sub-content p{
    color: rgba(39, 39, 39, 0.60);
}
.field-input{
    margin-right: 5px;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
}
.btn{
    font-size: 15px;
    background: #E55473;
    padding: 15px 30px;
    border-radius: 8px;
    border: 0;
    color: white;
}

/* Footer Style */
.footer-container{
    margin-top: 80px;
    padding: 50px 0;
    background-color: #111010;
    color: white;
    text-align: center;
}
.footer-content p{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.771);
    width: 50%;
    margin: auto;
}

.cope-right{
    color: brown ;
}
/* Footer Style END Here */