* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
}

.banner {
    display: flex;
}

.banner-content {
    padding: ;
    color: #272727;
    line-height: normal;
    padding: 130px 350px 0px 200px;
}

.banner .banner-pic {
    width: 335px;
    height: 400px;
    padding: 50px 150px 0px 0px;
}

.banner-content h1{
    font-size: 30px;
    font-weight: 800;
}

.banner-content p{
    padding: 20px 0px 20px 0px;
}

.banner-content .btn{
    border: 2px solid transparent;
    background-color: #E55473;
    padding: 17px 30px;;
    border-radius: 5px;
    color: white;
}